# Postgres
POSTGRES_SERVER=localhost
# Por padrão postgres usa essa porta, mude se necessário
POSTGRES_PORT=5432
POSTGRES_DB=NOME_DO_BANCO_DE_DADOS
# Por padrão é postgres, se for outro, mude
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SUA_SENHA_DO_USÁRIO_POSTGRES